# SERVER-SIDE ENVIRONMENT VARIABLES ================================================================================== #
# Accessible through `process.env` - not shipped to client.

# SUPABASE DATABASE - raiderwatch-postgres
DATABASE_URL=""
DATABASE_URL_DIRECT=""
DATABASE_PASSWORD=""

# REDIS UPSTASH - raiderwatch-redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# BETTER-AUTH - https://www.better-auth.com/
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" # https://website.com in production

# CLIENT-SIDE ENVIRONMENT VARIABLES ================================================================================== #
# Accessible through `import.meta.env` - shipped to client. 
# Must be prefixed with `VITE_`.

# SITE METADATA
VITE_SITE_URL="http://localhost:3000" # https://website.com in production

# SUPABASE DATABASE - raiderwatch-postgres
VITE_SUPABASE_URL=""
VITE_SUPABASE_KEY=""