/* LOGO FONT */
@font-face {
  font-family: "ITCAG";
  src:
    url("/assets/fonts/ITCAG/ITCAvantGardeStd-Bold.woff2") format("woff2"),
    url("/assets/fonts//ITCAG/ITCAvantGardeStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* BARLOW (BODY FONT)
Normal & Italic
100 - Thin
200 - ExtraLight
300 - Light
400 - Regular
500 - Medium
600 - SemiBold
700 - Bold
800 - ExtraBold
900 - Black
*/
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Thin.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-ExtraLightItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Light.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Regular.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Italic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Medium.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-SemiBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Bold.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-ExtraBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-Black.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src:
    url("/assets/fonts/Barlow/Barlow-BlackItalic.woff2") format("woff2"),
    url("/assets/fonts/Barlow/Barlow-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
